// Import Clearfix Style Custom

@mixin clearfix() {
  &:before,
  &:after {
    content: " "; // 1
    display: table; // 2
  }
  &:after {
    clear: both;
  }
}


// Responsive Media Query
@mixin responsive($breakpoint) {
  @if $breakpoint == desktoplarge {
    @media (min-width: 1280px) {
      @content;
    }
  }
  @else if $breakpoint == desktop {
    @media (min-width: 1199px) {
      @content;
    }
  }
  @else if $breakpoint == devicelarge {
    @media (min-width: 1023px) {
      @content;
    }
  }
  @else if $breakpoint == devicesmall {
    @media (min-width: 767px) {
      @content;
    }
  }
  @else if $breakpoint == mobilelarge {
    @media (min-width: 639px){
      @content;
    }
  }
  @else if $breakpoint ==  mobilesmall {
    @media (min-width: 567px){
      @content;
    }
  }
}