// Style for Home Page

// Hero Section
.co-hero-section{
	background: url(../images/hero-pix.jpg) 0 0 no-repeat;
	height: 100vh;
	background-size: cover;
	position: relative;
	&:before{
		content: " ";
		position: absolute;
		left: 0;
		right: 0;
		z-index: 1;
		width: 40%; 
		background: rgba(0,0,0,0.7);
		height: 100vh;
	}
	h1{
		font-size: 30px;
		text-align: center;
		color: #FFF;
		margin: 0;
		position: absolute;
		top: 50%;
		z-index: 10;
		width: 100%;
		text-transform: uppercase;
	}
}

// About Section
.co-about-section{
	.co-article-pix{
		img{
			width: 100%;
		}
	}
}




// Service Section
.co-service-section{
	color: #FFF;
	@include background-image(linear-gradient(top, #1e5799 45%, #7db9e8 45%));
	// @include background-image(linear-gradient(left, #1e5799 45%, #7db9e8 45%));
	.co-service-icon-panel{
		background: #FFF;
		// margin-left: -20px; 
		margin-top: 40px;
		color: #000;
		@include breakpoint(mobilelarge){
			margin-top: 0;
		}
		.o-service-block{
			padding: 10px 30px 0 30px;
			h3{
				font-size: 16px;
				text-transform: uppercase;
				margin-top: 10px;
			}
			i{
				font-size: 30px;
			}
		}
	}
}

// Portfolio Section
.co-portfolio-section{
	background: #D8D8D8;
	.co-portfolio-item{
		ul{
			padding: 0;
			margin: 0;
			li{
				width: 50%;
				float: left;
				padding: 0;
				margin: 0;
				img{
					width: 100%;
				}
			}
		}
	}
}
